.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 27vw;
    margin: 5%;
    transform: scale(0.9);
    position: relative;
    top: 4vh;
}

.reels-logo {
    display: flex;
    justify-content: center;
}

.alert-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.policy-cont {
    margin: 5px;
    display: flex;
    justify-content: center;
}

.login-cont {
    display: flex;
    justify-content: center;
    font-size: smaller;
}


.forgot-pass-cont {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-size: large;
}

.imgcar{
    margin-top: 8vh;
    height: 590px;
    width: 441px;
    position: relative;
}

.car{
    height: 423px;
    width: 241px;
    position: absolute; 
    left: 143px;
    top: 93px;
}